.DS_Store

# Go
bin/
coverage.out

# Foundry
onchain/cache/
onchain/out/

# Circom
circom/node_modules/
circom/build/
circom/ptau/
circom/circuits/main/

# Generated shared artifacts
artifacts/

# SP1
sp1/target/
sp1/contracts/cache/
sp1/contracts/out/
sp1/programs/*/elf/
